.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 15px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 28px;
  font-weight: 400;
  letter-spacing: normal;

  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-property: scale;
}

.link:hover {
  scale: 1.1;
}

.link:global(.active) {
  color: rgb(13, 231, 180);
  font-weight: 600;
  scale: 1.1;
}
